@{
    ViewData["Title"] = "CONTACT US";
}
@* <h1>@ViewData["Title"]</h1> *@

<section class="bg-black text-white text-center py-5">
    <div class="container">
        <h1 class="fw-bold text-light">CONTACT US</h1>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <!-- Harley-Davidson Motor Company -->
        <div class="mb-5">
            <h3 class="fw-bold">HARLEY-DAVIDSON MOTOR COMPANY</h3>
            <p>
                For Asia Emerging Markets, if your dealer is unable to assist you,<br>
                <a href="mailto:AEMenquiries@harley-davidson.com">AEMenquiries@harley-davidson.com</a>
            </p>
            <p>
                or send to::<br>
                Harley-Davidson Asia Emerging Markets<br>
                Harley-Davidson Asia Pacific<br>
                51 Cuppage Road, #02-01<br>
                Singapore 229469
            </p>
        </div>

        <!-- Nhóm chủ sở hữu Harley -->
        <div>
            <h3 class="fw-bold">HARLEY OWNERS GROUP</h3>
            <p>
                H.O.G. AEM<br>
                For Asia Emerging Markets, if your dealer is unable to assist you,<br>
                Email: <a href="mailto:hogap@harley-davidson.com">hogap@harley-davidson.com</a>
            </p>
            <p>
                Toll-Free Phone: 008 428 4458 102<br>or send to:<br>
                Harley-Davidson Asia Emerging Markets<br>
                Harley-Davidson Asia Pacific<br>
                51 Cuppage Road, #02-01<br>
                Singapore 229469
            </p>
        </div>
    </div>
</section>

<footer class="bg-black text-white text-center py-3">
    <div class="container">
        <p class="mb-0">HARLEY-DAVIDSON</p>
    </div>
</footer>
